

	<div class="row">
		<% @plays.each do |play| %>
			<div class="col-md-3">
				<%= play.title %><br>
				<%= play.director %><br>
				</a>
			</div>
		<% end %>
	</div>
<%= link_to "Add Play", new_play_path %>